<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="../static/mainTest.css">
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form action="#" method="post">
            <input type="text" name="longUrl" id="longurl" placeholder="Въведете дългия URL адрес" required>
            <input type="text" name="customAlias" id="custom" placeholder="Персонализирано заглавие на страница">
            <input type="number" name="urlSize" id="size" placeholder="Размер на адреса (7 по подразбиране)" min="1" value="7">
            <button id="shortenBtn" type="submit">Shorten URL</button>
        </form>
    </div>
</body>
</html>