<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="../static/result.css">
    </style>
</head>
<body>
    <div class="container" id="mainContainer">
        <h1>URL Shortener</h1>
        <div id="result" class="url-display">
            <h2>Here's your shortened link: </h2>
            <a href="/{{short_url_display}}">127.0.0.1/{{short_url_display}}</a>
        </div>
        <div id="qrCode"></div>
    </div>

    
</body>
</html>